:root{
  --mint:#DDFFE7;
  --spearmint:#98D7C2;
  --teal-g:#167D7F;
  --teal:#29A0B1;
  --text:white;
}

*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  /* font: inherit; */
  vertical-align: baseline;
}

.body{
  background-color: var(--teal-g);
  color:white;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

section{
  margin: 20px auto;
  width:80%;
}

main{
  text-align: center;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  header nav {
      display: flex;
      flex-wrap:wrap;
  }

  header ul {
      width:100%;
  }

  header img {
    display:none;
  }
}

